<div class="wrapper">
  <div class="page-wrap">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex">
                  <h4 class="card-title">Weather Report</h4>
                  <select class="form-control w-25 ml-auto">
                    <option selected="">Today</option>
                    <option value="1">Weekly</option>
                  </select>
                </div>
                <div class="d-flex align-items-center flex-row mt-30">
                  <div class="p-2 f-50 text-info">
                    <i class="wi wi-day-showers"></i>
                    <span>23<sup>°</sup></span>
                  </div>
                  <div class="p-2">
                    <h3 class="mb-0">Saturday</h3>
                    <small>Banglore, India</small>
                  </div>
                </div>
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>Wind</td>
                      <td class="font-medium">ESE 17 mph</td>
                    </tr>
                    <tr>
                      <td>Humidity</td>
                      <td class="font-medium">83%</td>
                    </tr>
                    <tr>
                      <td>Pressure</td>
                      <td class="font-medium">28.56 in</td>
                    </tr>
                  </tbody>
                </table>
                <hr />
                <ul
                  class="list-unstyled row text-center city-weather-days mb-0 mt-20"
                >
                  <li class="col">
                    <i class="wi wi-day-sunny mr-5"></i><span>09:30</span>
                    <h3>20<sup>°</sup></h3>
                  </li>
                  <li class="col">
                    <i class="wi wi-day-cloudy mr-5"></i><span>11:30</span>
                    <h3>22<sup>°</sup></h3>
                  </li>
                  <li class="col">
                    <i class="wi wi-day-hail mr-5"></i><span>13:30</span>
                    <h3>25<sup>°</sup></h3>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
