<div class="wrapper">
  <div class="page-wrap">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card" *ngIf="Airqualitymodel.aqi" >
                <div class="card-body">
                    {{ Airqualitymodel.city.name }} PM2.5 AQI
                </div>
                <div class="d-flex align-items-center flex-row">
                    <div
                      class="p-2 f-50 text"
                      [ngStyle]="{'background-color': airquality.AirPollutionLevel(Airqualitymodel.aqi).color}"
                    >
                      <span>{{ Airqualitymodel.aqi }}</span>
                    </div>
                    <div class="p-2">
                        <h3 class="mb-0">{{ Airqualitymodel.pollution.pollutionlevelTH }}</h3>
                        <small>Updated on {{this.Airqualitymodel.time['s'] }}</small>
                      </div>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card"  *ngIf="Airqualitymodel.iaqi">
                <div class="card-body">
                    {{ Airqualitymodel.city.name }} PM10 AQI
                </div>
                <div class="d-flex align-items-center flex-row">
                    <div
                      class="p-2 f-50 text"
                      [ngStyle]="{'background-color': airquality.AirPollutionLevel(Airqualitymodel.iaqi.pm10).color}"
                    >
                      <span>{{ Airqualitymodel.iaqi.pm10}}</span>
                    </div>
                    <div class="p-2">
                        <h3 class="mb-0">{{ Airqualitymodel.pollution.pollutionlevelTH }}</h3>
                        <small>Updated on {{this.Airqualitymodel.time['s'] }}</small>
                      </div>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" *ngIf="Airqualitymodel.iaqi">
                <div class="card-body">
                    {{ Airqualitymodel.city.name }} (O3)OZONE AQI
                </div>
                <div class="d-flex align-items-center flex-row">
                    <div
                      class="p-2 f-50 text"
                      [ngStyle]="{'background-color': airquality.AirPollutionLevel(Airqualitymodel.iaqi.o3).color}"
                    >
                      <span>{{Airqualitymodel.iaqi.o3}}</span>
                    </div>
                    <div class="p-2">
                        <h3 class="mb-0">{{ Airqualitymodel.pollution.pollutionlevelTH }}</h3>
                        <small>Updated on {{this.Airqualitymodel.time['s'] }}</small>
                      </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
